<p id="stock-level"></p>

<script type="text/javascript">
  var stock = [];
  {% for variant in product.variants %}
  	stock[{{ variant.id }}] = {{ variant.inventory_quantity }};
  {% endfor %}
    
  this.addEventListener('change', this.onVariantChange);
  
  function onVariantChange() {
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const variant = urlParams.get('variant');
    
    var msg = "Sold out!";
    if(stock[variant] > 10){
      msg = "More than 10 available";
    } else {
      msg = "Only " + stock[variant] + " left!";
    }    
    
    var element = document.getElementById('stock-level');
    console.log(msg);
    element.innerHTML = msg;
   }
  
  function msgText(stockLevel) {
    var text = "Sold out!";
    if(stock[variant] > 10){
      text = "More than 10 available";
    } else {
      text = "Only " + stock[variant] + " left!";
    }
    return text
  }
</script>