        <ul class="list">  
          	{% for variant in product.variants %}
          		<li>{{ variant.title }} - {{ variant.metafields.my_fields.quantity_value.value }}</li>
          	{% endfor %}
        </ul>