<ul class="list">  
  {% for variant in product.variants %}
  <li id="{{ variant.id }}" style="display:none;">{{ variant.title }} - {{ variant.inventory_quantity }}</li>
  {% endfor %}
</ul>
<script>const color = urlParams.get('variant')
console.log(color);</script>