li.list-payment__item > button {
	margin-right: 2px;
    border: none;
    padding: 3px;
    background: none;
    line-height: 1;
    font-size: 0;
    vertical-align: middle;
}

li.list-payment__item > button.active {
    border-radius: 4px;
    box-shadow: 0 2px 5px -1px rgba(50, 50, 93, 0.25), 0 1px 3px -1px rgba(0, 0, 0, 0.3);
}

div.pay-later-price > p {
  	text-align: right;
}

.wrap-collabsible input[type='checkbox'] { 
  display: none;
} 

.wrap-collabsible { 
  margin: 1.2rem 0; 
} 

.lbl-toggle { 
  display: block; 
/*  font-weight: bold; 
  font-family: monospace; 
  font-size: 1.2rem; 
  text-transform: uppercase; 
  text-align: center; 
  padding: 1rem; 
  color: #DDD; 
  background: #0069ff; 
  */
  cursor: pointer; 
  /* border-radius: 7px; */
  transition: all 0.25s ease-out; 
} 

.lbl-toggle:hover { 
  color: #FFF; 
} 

.toggle:checked+.lbl-toggle { 
  border-radius: 4px;
  box-shadow: 0 2px 5px -1px rgba(50, 50, 93, 0.25), 0 1px 3px -1px rgba(0, 0, 0, 0.3); 
} 

.collapsible-content { 
  max-height: 0px; overflow: hidden; transition: max-height .25s ease-in-out; 
} 

.toggle:checked + .lbl-toggle + .collapsible-content { 
  max-height: 350px; 
} 

.toggle:checked + .lbl-toggle { 
  border-bottom-right-radius: 0; border-bottom-left-radius: 0; 
} 

.collapsible-content .content-inner { 
/*  background: rgba(0, 105, 255, .2); 
  border-bottom: 1px solid rgba(0, 105, 255, .45); 
  border-bottom-left-radius: 7px; 
  border-bottom-right-radius: 7px; 
  padding: .5rem 1rem; 
  */
} 

.collapsible-content p { 
  margin-bottom: 0; 
}
